<!-- Begin Content -->
<div id="content">
    <h1 class="title">Administrator Manager</h1>
    <div class="line" style="padding: 0;"></div>
    <div class="post">

                <img class="logoBigImage" style="margin: 0 auto;" src="~/Images/afaf-main1.png" />
    </div>
</div>
<!-- End Content -->