<!-- Begin Content -->
<div id="content">
    <h1 class="title">Administrator Manager Login</h1>
    <div class="line" style="padding: 0;"></div>
    <div class="post">
        <div class="items masoned">
            <div class="box col2">

                <img class="logoBigImage" src="~/Images/afaf-main1.png" />

            </div>
            <div class="box col2">
                <div class="form-container">
                    <form class="forms">
                        <fieldset>
                            <ol>
                                <li class="form-row text-input-row">
                                    <label>Username</label>
                                    <input type="text" class="text-input" placeholder="Enter Username" />
                                </li>
                                <li class="form-row text-input-row">
                                    <label>Password</label>
                                    <input type="password" class="text-input" placeholder="Enter Password " />
                                </li>
                                <li class="form-row text-input-row">
                                    <a class="button maroon">Log In </a>
                                </li>
                            </ol>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
	<!-- End Content -->